.credentials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* padding: 2px; */
  }
  
  .userimg {
    /* border-radius: 50%; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .userimg img {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  .authentication {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 .logout-btn {
    background-color: #f90a0a; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
    margin-bottom: 5px;
    /* margin-top: 6px; */
  }
  
  .logout-btn:hover {
    background-color: #ae2828; /* Hover background color */
  }
  