*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TopContainer{
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.StatusCards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.CardStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height:130px; 
  width: 24%;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #FFFFFF;
}
/* ProjectTable.css */

.ProjectTable {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.ProjectTable table {
  border: 1px solid #dddddd;
  width: 1236px;
}

.ProjectTable th, .ProjectTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.ProjectTable th {
  background-color: #f2f2f2;
  color: #333;
}

.ProjectTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ProjectTable tr:hover {
  background-color: #ddd;
}

.edit-btn, .delete-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

 .edit-btn:hover{
  background-color: #052343;
}

.ProjectTable .delete-btn {
  background-color: #dc3545;
}
