.FormContainer {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;

}

.project-overview {
    padding: 20px;
    border-radius: 8px;
}

.project-overview h3 {
    margin-top: 0;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-container textarea,
.input-container input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-container textarea {
    height: 100px; /* Adjust height as needed */
}

.input-container div {
    display: flex;
    align-items: center;
}

.input-container div input[type="number"] {
    flex: 1;
}

.input-container div span {
    margin-left: 5px;
}

.save-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #0056b3;
}
