.lowerContent{
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  margin-top: 20px;
  background-color: #F8F8F8;
  gap: 30px;
  margin-right: 30px;
}
.MainPage{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: #F8F8F8; */
}
